@import '../mixins/all.less';
@import '../animations/gbfade.less';
@import '../animations/healthwarning.less';

.gbc-theme {
    @low-health: red;
    @med-health: goldenrod;
    @high-health:green;

    @exp-color: deepskyblue;
    @female-color:deeppink;
    @male-color: dodgerblue;

    @transition-time: .5s;

    @bar-chrome: #666;
    @bar-skew: 15deg;

    // @party-member-height: 13.5vh;
    @party-member-height: 128px;

    &.pokemon-hud {
        font-family: pokeplatinum;
        color:white;
        font-size: @party-member-height / 4.5;
        width:100%;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        .gbfade();

        * {
            box-sizing: border-box;
        }
        
        .health-info(@color, @secondColor: white) {
            .pokemon-image {
                 .frame-border {
                    background-image:linear-gradient(45deg, @color 0%, @color 50%, @secondColor 50%, @secondColor 100%);
                }
            }
            .health {
                background-color:@color;
            }
        }
        .bar(@name, @height) {
            position: absolute;
            height:1.25em;
            right:0;
            left:0;
            font-size: @height;
            background-color:darken(@bar-chrome, 20%);
            border:.1em solid @bar-chrome;

            &:before {
                content:@name ':';
                padding: 0 .5em;
                font-weight: bold;
                background-color:@bar-chrome;
                transform: skew((@bar-skew * -1));
                position: absolute;
                right:calc(100% - .5em);
                top:-.1em;
                bottom:-.1em;
                z-index: 1;
            }

            &:after {
                content:'';
                position: absolute;
                background-color:@bar-chrome;
                right:-.75em;
                top:-.1em;
                bottom:-.1em;
                width:1em;
                transform:skew(@bar-skew);
            }
        }

        .bar-fill() {
            position: absolute;
            left:0;
            top:0;
            bottom:0;
            transform:skew(@bar-skew)translateX(-.2em);
            transition: width @transition-time ease-out;
        }

        ul.party {
            list-style: none;
            margin:0;
            padding:0;
            margin-bottom: 5px;
            height: (@party-member-height * 6);
            transition: filter .2s ease-in-out;
            
            > li {
                display:flex;
                position: relative;
                padding:0;
                margin:0;
                height:@party-member-height;

                &.female .name:after {
                    content:'♀';
                    color: @female-color;
                }

                &.male .name:after {
                    content:'♂';
                    color: @male-color;
                }

                .sleepy {
                    display: none;
                    position:absolute;
                    width: (@party-member-height);
                    text-align: right;
                    padding:.1em;
                    opacity: .8;
                }

                .pokemon-image {
                    display: inline-block;
                    flex:0 0 auto;
                    position: relative;
                    width: @party-member-height;
                    height: @party-member-height;
                    perspective: 100vw;
                    perspective-origin: bottom;
                    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
                    .outline(white);

                    background-size: 87%;
                    background-position: 50% 64%;
                    background-repeat: no-repeat;

                    img {
                        position: absolute;
                        left:50%;
                        top: 50%;
                        transform:translateX(-50%)translateY(-48%)rotateY(180deg);
                        // height:(@party-member-height * .8);
                        height: 112px;
                        image-rendering: pixelated;

                        &.frame-border {
                            transform:translateX(-50%)translateY(-50%);
                            height:@party-member-height;
                            transition: all @transition-time ease-in-out;
                            background-image:linear-gradient(45deg, white 0%, white 50%, white 50%, white 100%);
                            background-size: 87%;
                            background-position: 50% 64%;
                            background-repeat: no-repeat;
                            transform-origin: bottom;
                        }
                    }

                    &.unown img {
                        transform:translateX(-50%)translateY(-50%); //don't flip
                    }

                    &:before, &:after {
                        content:'';
                        position:absolute;
                        left:0;
                        right:0;
                        top:0;
                        bottom:0;
                        background-position: left center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        opacity: 0;
                        transform: scale(1.05);
                        transition: opacity @transition-time ease-in-out;
                        image-rendering: pixelated;
                        background-size:cover;
                        -webkit-mask-size: contain;
                    }
                }

                .pokemon-info {
                    flex: 1 1 auto;
                    position: relative;
                    min-width: 0;
                    margin-left: 1vw;
                    //background-image: linear-gradient(to left, black 0%, black 80%, rgba(0,0,0,.8) 90%,  rgba(0,0,0,.5) 95%, rgba(0,0,0,0) 100%);

                    .top-line {
                        font-family: pokered;
                        display: flex;
                        align-items:center;
                        justify-content: flex-end;
                        font-size:.7em;
                        position: relative;
                        padding-bottom:(@party-member-height / 22);

                        .name {
                            flex: 0 0 auto;
                            text-align: left;
                            white-space: pre;
                            .outline();

                            &:after {
                                margin-left: .1em;
                            }
                        }

                        .types {
                            flex: 0 1 auto;
                            text-align: center;
                            width:(@party-member-height / 2);
                            margin-left:auto;
                            white-space: nowrap;
                            .outline();
                            img {
                                height: (@party-member-height / 6);
                                margin: .1em;
                                border-radius: 50%;
                                position: relative;
                                top: .1em;
                                .skinny-screen({
                                    height: (@party-member-height / 7);
                                });
                            }
                        }

                        .level {
                            text-align: right;
                            .outline();

                            &:before {
                                content:'È';
                                font-size:.8em;
                                vertical-align: baseline;
                            }
                        }

                        .exp-bar {
                            font-family: pokeplatinum;
                            .bar('EXP', (@party-member-height / 25));
                            top:auto;
                            bottom:0;
                            left:2em;
                            transition: transform @transition-time ease-in-out;

                            &:after{
                                right:-.5em;
                            }

                            .exp {
                                .bar-fill();
                                background-color:@exp-color;
                            }
                        }
                    }

                    .ability {
                        display: none;
                        font-size: .9em;
                        height:1em;
                        width:100%;
                        text-align: center;
                        .outline();
                    }

                    .moves {
                        list-style: none;
                        width:100%;
                        padding:0;
                        margin:0;
                        position: relative;
                        display: flex;
                        flex-flow: row wrap;
                        transition: transform @transition-time ease-in-out;
                        .outline();

                        li {
                            display: inline-flex;
                            flex-flow: row nowrap;
                            align-items: baseline;
                            justify-content: space-around;
                            width:48%;
                            white-space: nowrap;
                            line-height: 1em;

                            &:nth-child(even) {
                                margin-left:4%;
                            }

                            img {
                                height: .7em;
                                align-self: center;
                                border-radius: 50%;
                                position: relative;
                            }
                            .move-name {
                                margin:auto;
                                text-align: center;
                                text-transform: capitalize;
                            }
                            span:last-of-type {
                                margin-left:auto;
                            }
                            // &.long-name .move-name {
                            //     .crush-text()
                            // }
                            &.pp-low {
                                color:@low-health;
                            }
                            &.pp-med {
                                color:@med-health;
                            }
                            &.exhausted {
                                opacity: .3;
                                transition: filter @transition-time ease-in, opacity @transition-time ease-out, color @transition-time ease-out;
                                filter:grayscale(100%);
                            }
                            .skinny-screen({
                                span {
                                    vertical-align: middle;
                                    .crush-text();
                                }
                            });
                        }
                    }
                    .health-bar {
                        .bar('HP', (@party-member-height / 10));
                        left: 3vw;
                        bottom:0;

                        .hp {
                            position: absolute;
                            // left:0;
                            right:.25em;
                            bottom:.05em;
                            text-align: center;
                            font-size: 1.8em;
                            height:1em;
                            font-family: pokered;

                            &:before {
                                content:attr(data-current);
                            }
                            &:after {
                                content:"/" attr(data-max);
                                font-size: .8em;
                                vertical-align: baseline;
                            }
                        }
                        
                        .health {
                            .bar-fill();
                            min-width:2%;
                        }
                    }
                    
                }

                
                div.held-item, div.friendship, div.movelearn {
                    position:absolute;
                    left:@party-member-height;
                    bottom:(@party-member-height / 10);
                    padding: .2em;
                    font-size: .65em;
                    text-align: center;
                    box-sizing: content-box;
                    transition: transform @transition-time ease-in-out;
                    .outline();
                    vertical-align: middle;

                    &.friendship {
                        display: none;
                    }

                    &.movelearn {
                        left: auto;
                        right: 0;
                        font-size: .5em;
                        padding-bottom: .5em;
                        .move-name {
                            display: inline-block;
                            font-family: pokered;
                            transform: scaleX(.6);
                            transform-origin: right center;
                        }
                        &.alert {
                            .health-warning();
                        }
                    }

                    &[data-id="0"] {
                        display: none;

                        ~ div.friendship {
                            display: block;
                        }
                    }
                    
                    &:before {
                        content:'\264B';
                        margin-right: .5em;
                        // margin-left: .25em; 
                    }
                    &:after {
                        content:attr(data-name);
                        font-family: pokered;
                        font-size:.8em;
                        text-transform: capitalize;
                    }

                    &.held-item:after {
                        display: inline-block;
                        transform: scaleX(.8);
                        transform-origin: left center;
                    }

                    &.friendship:before {
                        content:'❤️';
                        margin-left: -.1em;
                    }

                    &.movelearn:before {
                        content: none;
                    }

                    &.movelearn:after {
                        content: "È" attr(data-level);
                        margin-left: .2em;
                        font-size: 1em;
                    }

                    img {
                        display: none;
                    }
                }

                &:before {
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    bottom:0;
                    width:@party-member-height;
                    background-image:radial-gradient(ellipse at center, white 0%, transparent 75%);
                    background-position: left center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0;
                    z-index: 3;
                    transition: transform @transition-time ease-in-out, opacity @transition-time ease-in-out;
                }

                &:after {
                    content:'';
                    position:absolute;
                    left:-1px;
                    top:-1px;
                    color:white;
                    background-color: #666;
                    border: 2px solid #333;
                    border-left:none;
                    border-top-width: 1px;
                    font-family: pokered;
                    font-weight: bold;
                    font-size:12px;
                    padding: .25em;
                    border-top-right-radius: 1em;
                    border-bottom-right-radius: 1em;
                    transform:translateX(-110%);
                    transition: transform @transition-time ease-in-out, opacity @transition-time ease-in-out;
                }

                &.level-cap { 
                    .exp-bar {
                        transform: translateX(120%);
                    }
                    div.held-item, .moves {
                        transform: translateY(-(@party-member-height / 30));
                    }
                }

                &:not(.fainted){
                    &.slp, &.psn, &.brn, &.frz, &.par, &.tox {
                        .pokemon-image:before, .pokemon-image:after {
                            opacity: 1;
                        }
                        &:after {
                            transform: none;
                        }
                        &.health-high {
                            .health-info(@high-health, transparent);
                        }
                        &.health-med {
                            .health-info(@med-health, transparent);
                        }
                        &.health-low {
                            .health-info(@low-health, transparent);
                        }
                    }
                }

                &.slp{
                    .pokemon-image:before {
                        //background-image:url('./img/status/bg/slp.jpg');
                        background-image:url('./img/status/gb/bg/slp.png');
                    }
                    .pokemon-image:after { 
                        background-image: url('./img/status/gb/slp.png'),
                            url('./img/status/gb/slp/1.png'),
                            url('./img/status/gb/slp/2.png'),
                            url('./img/status/gb/slp/3.png'),
                            url('./img/status/gb/slp/4.png'),
                            url('./img/status/gb/slp/5.png'),
                            url('./img/status/gb/slp/6.png'),
                            url('./img/status/gb/slp/7.png');
                     }
                    &.slp1 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/1.png'); }
                    &.slp2 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/2.png'); }
                    &.slp3 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/3.png'); }
                    &.slp4 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/4.png'); }
                    &.slp5 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/5.png'); }
                    &.slp6 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/6.png'); }
                    &.slp7 .pokemon-image:after { -webkit-mask-image:url('./img/status/gb/slp/7.png'); }

                    &:after {
                        content:'SLP';
                        background-color:#8C888C;
                        border-color:#5b585b;
                    }
                }
                &.psn {
                    .pokemon-image:before {
                        //background-image:url('./img/status/bg/psn.jpg');
                        background-image:url('./img/status/gb/bg/psn.png');
                    }
                    .pokemon-image:after {
                        background-image:url('./img/status/gb/psn.png');
                    }
                    &:after {
                        content:'PSN';
                        background-color:#A040A0;
                        border-color:#682A68;
                    }
                }
                &.brn {
                    .pokemon-image:before {
                        //background-image:url('./img/status/bg/brn.jpg');
                        background-image:url('./img/status/gb/bg/brn.png');
                    }
                    .pokemon-image:after {
                        background-image:url('./img/status/gb/brn.png');
                    }
                    &:after {
                        content:'BRN';
                        background-color:#F08030;
                        border-color:#9C531F;
                    }
                }
                &.frz {
                    .pokemon-image:before {
                        background-image:url('./img/status/bg/frz.jpg');
                        -webkit-mask-image:url('./img/status/gb/bg/frz.png');
                        -webkit-mask-size: contain;
                        background-repeat: no-repeat;
                        transform: scale(1.05);//translateY(1%);
                    }
                    &.health-high .pokemon-image:before {
                        background-image:linear-gradient(45deg, @high-health 0%, @high-health 50%, transparent 50%, transparent 100%), url('./img/status/gb/bg/frz.png');;
                    }
                    &.health-med .pokemon-image:before {
                        background-image:linear-gradient(45deg, @med-health 0%, @med-health 50%, transparent 50%, transparent 100%), url('./img/status/gb/bg/frz.png');;
                    }
                    &.health-low .pokemon-image:before {
                        background-image:linear-gradient(45deg, @low-health 0%, @low-health 50%, transparent 50%, transparent 100%), url('./img/status/gb/bg/frz.png');;
                    }
                    .pokemon-image:after {
                        background-image:url('./img/status/gb/frz.png');
                        // transform: scale(1.075)translateY(2.5%);
                    }
                    .frame-border {
                        z-index: 2;
                        background-image:linear-gradient(45deg, transparent 0%, transparent 50%, transparent 50%, transparent 100%)!important;
                    }
                    &:after {
                        content:'FRZ';
                        background-color:darken(#98D8D8, 30%);
                        border-color:darken(#638D8D, 30%);
                    }
                }
                &.par {
                    .pokemon-image:before {
                        //background-image:url('./img/status/bg/par.jpg');
                        background-image:url('./img/status/gb/bg/par.png');
                    }
                    .pokemon-image:after {
                        background-image:url('./img/status/gb/par.png');
                    }
                    &:after {
                        content:'PAR';
                        background-color:darken(#F8D030, 15%);
                        border-color:darken(#A1871F, 15%);
                    }
                }
                &.tox {
                    .pokemon-image:before {
                        //background-image:url('./img/status/bg/tox.jpg');
                        background-image:url('./img/status/gb/bg/psn.png');
                    }
                    .pokemon-image:after {
                        background-image:url('./img/status/gb/psn.png');
                    }
                    &:after {
                        content:'PSN';
                        background-color:#A01010;
                        border-color:#680A0A;
                    }
                }

                &.fainted {
                    opacity: .5;
                    transition: filter @transition-time ease-in, opacity @transition-time ease-out;
                    filter:grayscale(100%);
                    .health {
                        min-width:0!important;
                        width:0!important;
                    }
                    .moves li {
                        color:white!important;
                        opacity: 1!important;
                    }
                    .pokemon-image {
                        opacity: .5;
                        .frame-border {
                            transition: all (@transition-time * 5) cubic-bezier(.65, 1.95, .03, .32);
                            transform:translateX(-50%) translateY(-50%) rotateX(90deg);
                        }
                    }
                }

                &.health-high {
                    .health-info(@high-health);
                }
                &.health-med {
                    .health-info(@med-health);
                }
                &.health-low {
                    .health-info(@low-health);
                    &:not(.fainted) {
                        .hp {
                            .health-warning();
                        }
                    }
                }

                &.egg {
                    line-height:@party-member-height;
                    font-size: (@party-member-height / 2);

                    .pokemon-image {
                        img {
                            transform:translateX(-50%)translateY(-50%);
                            height: @party-member-height;
                        }
                    }


                    .egg-bar {
                        .bar('HATCH', (@party-member-height / 10));
                        bottom:0;
                        left: 5vw;
                        line-height: normal;

                        .hatch {
                            .bar-fill();
                            background-color: @exp-color;
                        }
                    }

                }
            }

        }

        .trainer-info {
            .badges {
                position: relative;
                width:100%;
                text-align: center;
                span {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: inline-block;
                    margin:.5vw 1vw;
                    // &:first-child, &:nth-child(9) {
                    //     margin-left:2vw;
                    // }
                    // &:last-child, &:nth-child(8) {
                    //     margin-right:2vw;
                    // }

                    img {
                        vertical-align: middle;
                        transition: filter (@transition-time * 3) ease-in, opacity @transition-time ease-out, transform (@transition-time * 2) ease-out;
                        .outline(@bar-chrome);
                        width: 10vw;
                        transform-origin: center center;
                        image-rendering: pixelated;

                        &.unowned {
                            filter: contrast(0%) brightness(50%);
                        }
                        &.badge-slot {
                            filter:none;
                            opacity: 0;
                            transform: scale(2);
                        }
                    }
                }
            }

            .rtc {
                margin-top: .25em;
                text-align: center;
                font-family: pokered;
                font-size: 2.75vh;
                > span {
                    + span{
                        &:before, &.meridian:before {
                            content:' ';
                        }
                        + span:before {
                            content:':';
                        }
                    }
                }
            }

            .options {
                display: none;
                flex: 1 1 auto;
                display:flex;
                // justify-content: space-around;
                justify-content: space-between;
                font-family: pokered;
                font-size: .8em;
                line-height: 1.65em;
                text-align: center;
                margin:auto;
                &.slim {
                    .normal-screen({
                        .crush-text()
                    });
                    .skinny-screen({
                        position: absolute;
                        left:0;
                        right:0;
                        bottom:100%;
                        height: 1em;
                        span {
                            width:30%;
                        }
                    });
                }
                span {
                    flex: 1 1 auto;
                }
            }


            .bottom-row {
                position: absolute!important;
                bottom:0;
                left:0;
                right:0; 
                > div {
                    font-family: pokered;
                    display: flex;
                    flex-flow:row nowrap;
                    justify-content: space-between;
                    font-size: .65em;
                    padding-bottom:.1em;
                    white-space: nowrap;
                    min-width: 100%;

                    // .wallet {
                    //     display:flex;
                    //     flex-flow:row nowrap;
                    //     justify-content: space-between;
                    //     margin-right:1em;
                    //     .skinny-screen({
                    //         width:100%;
                    //     });

                        > span, > div {
                            vertical-align: baseline;
                            margin: auto;
                            padding: 0 .5em;

                            .skinny-screen({
                                flex: 1 1 auto;

                                + span {
                                    margin-left:auto;
                                }
                            });

                            &:before {
                                font-size: .9em;
                                vertical-align: baseline;
                                margin-right:.1em;
                            }
                        }

                        .cash {
                            margin-right:auto;
                            margin-left:0;
                            padding-left:0;
                        }
                        .cash:before {
                            content:"$";
                        }
                        .balls:before {
                            content:"Ó";
                        }
                        .pc:before {
                            content:'';
                            display: inline-block;
                            width:1em;
                            height:1em;
                            background-image:url('img/pc.png');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: top center;
                        }
                        .pc.almost-full {
                            color:@med-health;
                        }
                        .pc.full {
                            color:@low-health;
                        }
                        .level-cap:before{
                            content:"È";
                        }
                    // }

                    .dex-counts {
                        margin-right:0;
                        padding-right:0;

                        span + span:before {
                            content:'/';
                        }
                    }
                }
            }
        }
    }
    .evolving {
        perspective: 100vw;
        transform-style: preserve-3d;
        &:before {
            opacity: 1!important;
            transition: opacity 10s ease-in!important;
        }
        .pokemon-image {
            transition: transform 40s ease-in, opacity 30s ease-out!important;
            transform:rotateY(178490.5deg);//rotateX(1080deg);
            opacity: 0;
        }
    }
}