// Blazed Glazed/RandoWhite 2/Ultra Sun/Red/Y/PBR
@dex-frame-border: #600;
@dex-frame-color: #c00;
@dex-frame-bevel: #600;
@dex-frame-highlight: #900;
@dex-label-color: white;

//Blue
@blue-frame-border: #006;
@blue-frame-color: #00c;
@blue-frame-bevel: #006;
@blue-frame-highlight: #009;

//Storm Silver	
// @dex-frame-border: #838996;
// @dex-frame-color: #ACACAC;
// @dex-frame-bevel: #838996;
// @dex-frame-highlight: #757575;

// Pyrite/Bronze
// @dex-frame-border: #4A2F28;
// @dex-frame-color: #F8D8B1;
// @dex-frame-bevel: #D8A878;
// @dex-frame-highlight: #F8F8F8;
// @dex-label-color: black;//#213953;

// Theta Emerald/Flora Sky
// @dex-frame-border: #030;
// @dex-frame-color: #060;
// @dex-frame-bevel: #040;
// @dex-frame-highlight: #090;
// @dex-label-color: white;

// Fused Crystal
// @dex-frame-border: #8389FF;
// @dex-frame-color: #ACACFF;
// @dex-frame-bevel: #8389FF;
// @dex-frame-highlight: #7575FF;

@screen-on-color: darkolivegreen;
@screen-off-color: #666;

.dexFrame(@dex-frame-border: @dex-frame-border, @dex-frame-color: @dex-frame-color, @dex-frame-bevel: @dex-frame-bevel) {
    border: 1px outset @dex-frame-border;
    background-color: @dex-frame-color;
    box-shadow: 0 0 2px 2px @dex-frame-bevel inset;
}

.dexLabel(@dex-frame-color: @dex-frame-color, @dex-frame-bevel: @dex-frame-bevel, @dex-frame-highlight:@dex-frame-highlight) {
    color: @dex-label-color;
    .outline(@dex-frame-bevel);
    text-shadow: 2px 2px 0 @dex-frame-highlight, -2px 2px 0 @dex-frame-highlight, 2px -2px 0 @dex-frame-highlight, -2px -2px 0 @dex-frame-highlight;
}

.dexContent(@dex-frame-border: @dex-frame-border, @dex-frame-color: @dex-frame-color, @dex-frame-bevel: @dex-frame-bevel) {
    border: 1px inset @dex-frame-border;
    box-shadow: 0 0 4px 4px @dex-frame-bevel;
    background-color: @screen-on-color;
    box-sizing: border-box;
    padding:2px;
    overflow: hidden;
    color:black;
    position: absolute;
    left:5vw;
    right:5vw;
    top:5vh;
    bottom:5vh;
}