@import 'fonts.less';
@import 'mixins/utility.less';
@import 'mixins/dexframe.less';
@import 'animations/gbfade.less';

.dexnav {
    .dexFrame();
    font-size:10vh;
    color:white;
    position: fixed;
    overflow:hidden;
    left:0;
    top:0;
    bottom:0;
    right:0;
    pointer-events: none;
    user-select: none;
    .gbfade(10s);

    &:after {
        content:'';
        position: absolute;
        top: -7vh;
        right: -2vh;
        width: 50vw;
        height: 40vh;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        z-index: 6;
    }

    &[data-completed="1"]:after {
        background-image: url("img/dexnav/bronze.png");
        opacity: 1;
    }
    &[data-completed="2"]:after {
        background-image: url("img/dexnav/silver.png");
        opacity: 1;
    }
    &[data-completed="3"]:after {
        background-image: url("img/dexnav/gold.png");
        opacity: 1;
    }
    &.caught-them-all:after {
        background-image: url("img/dexnav/platinum.png");
        opacity: 1;
    }

    h3, h4 {
        position: absolute;
        z-index: 2;
        margin:0;
        font-weight: normal;
        padding: 5px;
        left:0;
        right:0;
        box-sizing: border-box;
        text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
        z-index: 5;
        white-space: nowrap;
    }

    h3 {
        top:0;
        font-family: pokered;
        background-image: radial-gradient(farthest-side at top left,black 0%, rgba(0,0,0,.5) 60%, rgba(0,0,0,0) 100%);
        padding-bottom:.5em;

        &:before {
            content:'{';
            margin-right:.5em;
        }
    }

    h4 {
        bottom:0;
        font-family: pokeplatinum;
        background-image: radial-gradient(farthest-side at bottom right,black 0%, rgba(0,0,0,.5) 60%, rgba(0,0,0,0) 100%);
        text-align: right;
        font-size: 2em;
        padding-bottom: 0;
    }

    .dexnav-screen() {
        .dexContent();
        left: 1em;
        top: 1em;
        bottom: 1em;
        right: 1em;
    }

    &:before {
        content:'';
        .dexnav-screen();
    }

    .encounters {
        .dexnav-screen();
        display:flex;
        flex-flow: row nowrap;
        align-items: center;
        transition: opacity 1s ease-in-out;
        

        &.encounters:not(.hidden) ~ .encounters, &.hidden {
            opacity: 0;
        }

        .encounter-group {
            display:flex;
            flex-flow: row nowrap;
            flex: 0 0 auto;
            align-items: center;
            // white-space: nowrap;
            height:100%;
            animation: scroll-forever 30s infinite;
            animation-timing-function: linear;
            transition: opacity 1s ease-in-out;

            span {
                flex:0 0 auto;
                position: relative;
                // vertical-align: middle;
                padding:0;
                //transform: translateX(50%);
                height:100%;
                
                &.seen img {
                    filter:contrast(0%) brightness(0%);
                    // animation: stretch-in 10s 1;
                    // animation-timing-function: linear;
                }

                img {
                    image-rendering: pixelated;
                    height:100%;
                    transition: filter 1s ease-in-out;
                    position: relative;
                    // z-index: 2;
                }

                img.item {
                    position: absolute;
                    display: inline-block;
                    right:auto;
                    top:auto;
                    left:.5em;
                    bottom:.5em;
                    width: 2em;
                    height: 2em;
                    filter: drop-shadow(1px -1px 0 black)
                }
                
                &.surfing, &.fishing {
                    perspective: 100vh;
                    perspective-origin: top;

                    &:before {
                        content:'';
                        position: absolute;
                        left:0;
                        top:0;
                        bottom:0;
                        right:0;
                        content:'';
                        image-rendering: pixelated;
                        transform: rotateX(60deg);
                        background-image:url("img/dexnav/surf.png");
                        -webkit-mask-image:linear-gradient(to top, black 0%,black 25%,transparent 60%, transparent 100%);
                        z-index: 0;
                    }
                }

                // &.surfing:before {
                    
                // }

                &.fishing{
                    perspective-origin: bottom;

                    &:before {
                        transform: rotateX(120deg);
                        background-image:url("img/dexnav/ocean.png");
                    }
                }
            }
        }
        &.unknown-zone {
            text-align: center;
            img {
                height: 60vh;
                margin: auto;
                display: inline-block
            }
        }
        &.nothing-to-show, &.no-encounters {
            background-color:@screen-off-color;

            &:before {
                font-family:pokered;
                content:'# πµ';
                font-size:2.5em;
                padding-left:.2em;
                position: absolute;
                left:50%;
                top:50%;
                transform: translateX(-50%)translateY(-50%);
                z-index: 5;
                color:black;
                white-space: nowrap;
                // animation: fade-in 1s 1;
                // animation-timing-function: ease-in-out;
            }

            &.nothing-to-show:before {
                content:'{';
            }
        }

        &.wild-battle, &.enemy-trainer {
            justify-content: space-between;

            > * { 
                animation: slide-in 4s 1;
                animation-timing-function: ease-in;
            }

            .info-left {
                flex: 2 1 auto;
                margin-right:auto;
                font-family: pokeplatinum;
                font-weight:bold;
                font-size: 20vh;
                text-align: center;
                white-space: nowrap;
                // max-width: 65vw;
                z-index: 2;

                .name {
                    line-height: .8em;
                    margin-top:.5em;

                    + .name { 
                        margin-top:-.1em;
                    }
                }

                .enemy-party {
                    display: flex;
                    flex-flow: row nowrap;
                    position: relative;
                    z-index: 2;

                    span {
                        flex: 1 1 30vh;
                        filter: drop-shadow(0 0 1px black) brightness(100%) contrast(100%);
                        transition: filter 1s ease-in-out;

                        &:first-of-type {
                            margin-left:auto;
                        }
                        &:last-of-type {
                            margin-right:auto;
                        }

                        img {
                            width:100%;
                            max-width:40vh;
                            min-width:25vh;
                        }

                        &.fainted {
                            filter:drop-shadow(0 0 0 black) brightness(0%) contrast(200%);
                        }
                    }
                }

                .catch-rate {
                    display: flex;
                    flex-flow: row nowrap;
                    vertical-align: middle;
                    &:before, &:after {
                        font-family: pokered;
                        font-size: .8em;
                        font-weight: normal;
                        margin-right:auto;
                        vertical-align: top;
                        content:'{';
                    }
                    &:after {
                        margin-right: 0;
                        margin-left: auto;
                    }
                }
            }
            .types {
                flex: 1 1 auto;
                display: flex;
                flex-flow:column nowrap;
                margin:1vw;
                img {
                    border-radius: 50%;
                    flex: 1 1 auto;
                    height:15vh;
                    margin:auto;
                    margin-bottom:10vh;
                    width:15vh;
                    + img {
                        margin:auto;
                    }
                }
            }
            .pokemon, .trainer {
                animation-duration: 2.5s;
                animation-timing-function: linear;
                flex: 0 0 auto;
                margin-left:auto;
                position: relative;
                img {
                    image-rendering: pixelated;
                    height:70vh;
                    transition: filter 1s ease-in-out;
                    position: relative;
                }
                &.seen img {
                    filter:brightness(0%) contrast(200%);
                }
                &.double img {
                    left: 25%;
                    top: 5%;
                    + img {
                        position: absolute;
                        left: -25%;
                        top: -1%;
                        z-index: 0!important;
                    }
                }
            }
            .trainer {
                flex:0 1 80vh;
                margin-left: -5%;
                img {
                    height: auto;
                    width:100%;
                    max-width: 80vh;
                    min-width: 50vh;
                    z-index: 1;
                }
            }
        }
    }
    &.teh-urn {
        .encounters.no-encounters {
            opacity: 0;
        }
        .encounters.nothing-to-show {
            background-color: @screen-on-color;
            opacity: 1!important;
            &:before {
                content:"TEH URN";
                transform: translateX(-50%)translateY(-50%)scaleX(.8);
            }
        }
    }
}

.rarity {
    position: absolute;
    display: inline-block;
    left:auto;
    top:auto;
    right:.5em;
    bottom:.5em;
    font-size: 20vh;
    height:1em;
    line-height: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
    .outline(black);

    &.ultra-common {
        color:white;
        &:before{
            content: '●';
        }
    }
    &.common {
        color:lime;
        &:before{
            content: '●';
        }
    }
    &.uncommon {
        color:dodgerblue;
        &:before{
            content: '♦';
        }
    }
    &.rare {
        color:violet;
        &:before{
            content: '★';
        }
    }
    &.ultra-rare {
        color:gold;
        &:before{
            content: '★';
        }
    }
}

.hidden > .rarity:after {
    content:'H';
}

@keyframes scroll-forever {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes stretch-in {
    0% {
        max-width:0;
    }
    100% {
        max-width:100%;
    }
}

.dexnav.n3ds-theme {
    // h4 {
    //     font-family:pokered;
    //     font-size: 1.5em;
    // }
    .encounters .encounter-group span img {
        transform:scale(1.5);
        image-rendering: auto;
    }
}