@font-face {
    font-family: 'pokered';
    src: url('fonts/pokered-regular.woff2') format('woff2'),
         url('fonts/pokered-regular.woff') format('woff'),
         url('fonts/pokered-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pokeplatinum';
    src: url('fonts/pokeplatinum-regular.woff2') format('woff2'),
         url('fonts/pokeplatinum-regular.woff') format('woff'),
         url('fonts/pokeplatinum-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avant Garde BT';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/AVGARDN_2.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Avant Garde BT';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/AVGARDD_2.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Avant Garde BT';
    font-style: oblique;
    font-weight: bold;
    src: url('fonts/AVGARDDO_2.woff') format('woff');
}

@font-face {
    font-family: 'TPP-Glyphs';
    src:
      url('fonts/TPP-Glyphs.ttf?ya8shi') format('truetype'),
      url('fonts/TPP-Glyphs.woff?ya8shi') format('woff'),
      url('fonts/TPP-Glyphs.svg?ya8shi#TPP-Glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }