@font-face {
    font-family: 'pokered';
    src: url('fonts/pokered-regular.woff2') format('woff2'),
         url('fonts/pokered-regular.woff') format('woff'),
         url('fonts/pokered-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pokeplatinum';
    src: url('fonts/pokeplatinum-regular.woff2') format('woff2'),
         url('fonts/pokeplatinum-regular.woff') format('woff'),
         url('fonts/pokeplatinum-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:black;
    margin:0;
    width:100vw;
    height:100vh;
    overflow: hidden;
}

@low-health: red;
@med-health: goldenrod;
@high-health:green;

@exp-color: deepskyblue;
@female-color:deeppink;
@male-color: dodgerblue;

@transition-time: .5s;

@bar-chrome: #666;
@bar-skew: 15deg;

@party-member-height: 14vh;

.skinny-screen(@rules){
    @media screen and (max-aspect-ratio: 34/92) {
        @rules();
    }
}
.normal-screen(@rules){
    @media screen and (min-aspect-ratio: 34/92) {
        @rules();
    }
}

.pokemon-hud {
    font-family: pokeplatinum;
    color:white;
    font-size: @party-member-height / 5;
    width:100%;
    overflow: hidden;
    user-select: none;
    pointer-events: none;

    * {
        box-sizing: border-box;
    }

    .crush-text() {
        font-size:.7em;
        transform: scaleY(1.4);
        transform-origin:50%;
        .skinny-screen({
            font-size:.5em;
            transform: scaleY(2);
        });
    }

    .health-info(@color) {
        .pokemon-image {
            // background-image:linear-gradient(46deg, @color 0%, @color 47.6%, rgba(0,0,0,0) 47.7%);
            background-image:radial-gradient(ellipse farthest-corner at 100% 0,   rgba(0,0,0,0) 0%,  rgba(0,0,0,0) 62.6%, @color 62.7%, @color 100%);
            background-size: 112% 100%;
            background-position: top right;
        }
        .health {
            background-color:@color;
        }
    }
    .bar(@name, @height) {
        position: absolute;
        height:1.25em;
        right:0;
        left:0;
        font-size: @height;
        background-color:darken(@bar-chrome, 20%);
        border:.1em solid @bar-chrome;

        &:before {
            content:@name ':';
            padding: 0 .5em;
            font-weight: bold;
            background-color:@bar-chrome;
            transform: skew((@bar-skew * -1));
            position: absolute;
            right:calc(100% - .5em);
            top:-.1em;
            bottom:-.1em;
            z-index: 1;
        }

        &:after {
            content:'';
            position: absolute;
            background-color:@bar-chrome;
            right:-.75em;
            top:-.1em;
            bottom:-.1em;
            width:1em;
            transform:skew(@bar-skew);
        }
    }

    .bar-fill() {
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        transform:skew(@bar-skew)translateX(-.2em);
        transition: width @transition-time ease-out;
    }

    ul.party {
        list-style: none;
        margin:0;
        padding:0;
        height: (@party-member-height * 6);
        
        > li {
            display:flex;
            position: relative;
            padding:0;
            margin:0;
            height:@party-member-height;

            &.female .name:after {
                content:'♀';
                color: @female-color;
            }

            &.male .name:after {
                content:'♂';
                color: @male-color;
            }

            .sleepy {
                position:absolute;
                width: (@party-member-height);
                text-align: right;
                padding:.1em;
                padding-left:(@party-member-height / 2.5);
                opacity: .8;
            }

            .pokemon-image {
                display: inline-block;
                flex:0 0 auto;
                position: relative;
                width: @party-member-height;
                height: @party-member-height;

                img {
                    position: absolute;
                    left:50%;
                    transform:translateX(-50%);
                    height:@party-member-height;
                    image-rendering: pixelated;
                }
            }

            .pokemon-info {
                flex: 1 1 auto;
                position: relative;
                min-width: 0;
                background-image: linear-gradient(to left, black 0%, black 80%, rgba(0,0,0,.8) 90%,  rgba(0,0,0,.5) 95%, rgba(0,0,0,0) 100%);

                .top-line {
                    display: flex;
                    align-items:center;
                    justify-content: flex-end;
                    font-size:1.2em;
                    position: relative;

                    .name {
                        flex: 0 0 auto;
                        text-align: left;
                        white-space: pre;

                        &:after {
                            margin-left: .1em;
                        }
                    }

                    .types {
                        flex: 0 1 auto;
                        text-align: center;
                        width:(@party-member-height / 2);
                        margin-left:auto;
                        white-space: nowrap;
                        img {
                            height: (@party-member-height / 6);
                            margin: .1em;
                            border-radius: 50%;
                            position: relative;
                            top: .1em;
                            .skinny-screen({
                                height: (@party-member-height / 7);
                            });
                        }
                    }

                    .level {
                        text-align: right;

                        &:before {
                            content:'Lv';
                            font-size:.8em;
                            vertical-align: baseline;
                        }
                    }

                    .exp-bar {
                        .bar('EXP', (@party-member-height / 30));
                        top:90%;
                        left:2em;

                        &:after{
                            right:-.5em;
                        }

                        .exp {
                            .bar-fill();
                            background-color:@exp-color;
                        }
                    }
                }
                .moves {
                    list-style: none;
                    width:100%;
                    padding:0;
                    margin:0;
                    position: relative;
                    left:-.2em;
                    top:.3em;

                    li {
                        display: inline-flex;
                        flex-flow: row nowrap;
                        align-items: baseline;
                        justify-content: space-around;
                        width:48%;
                        white-space: nowrap;
                        height: auto;

                        &:nth-child(even) {
                            margin-left:4%;
                        }

                        img {
                            height: .7em;
                            border-radius: 50%;
                            position: relative;
                        }
                        .move-name {
                            margin:auto;
                            text-align: center;
                        }
                        span:last-of-type {
                            margin-left:auto;
                        }
                        &.long-name .move-name {
                            .crush-text()
                        }
                        &.pp-low {
                            color:@low-health;
                        }
                        &.pp-med {
                            color:@med-health;
                        }
                        &.exhausted {
                            opacity: .3;
                            transition: filter @transition-time ease-in, opacity @transition-time ease-out, color @transition-time ease-out;
                            filter:grayscale(100%);
                        }
                        .skinny-screen({
                            span {
                                vertical-align: middle;
                                .crush-text();
                            }
                        });
                    }
                }
                .health-bar {
                    .bar('HP', (@party-member-height / 10));
                    bottom:0;

                    .hp {
                        position: absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        text-align: center;
                        font-size: 1.8em;
                        height:1em;

                        &:before {
                            content:attr(data-current);
                        }
                        &:after {
                            content:"/" attr(data-max);
                            font-size: .8em;
                            vertical-align: baseline;
                        }
                    }
                    
                    .health {
                        .bar-fill();
                        min-width:2%;
                    }
                }
                
            }

            
            div.held-item {
                position:absolute;
                left:-1px;
                bottom:-1px;
                font-size: 16px;
                padding: .25em;
                height: 1.5em;
                width: 1.5em;
                box-sizing: content-box;
                overflow: hidden;
                filter: drop-shadow(1px 1px 1px black)drop-shadow(-1px -1px 1px black);
                transition: transform @transition-time ease-in-out, opacity @transition-time ease-in-out;

                &[data-id="0"] {
                    transform:translateX(-110%);
                }

                img {
                    width:2em;
                }

            }

            &:before {
                content:'';
                position:absolute;
                left:0;
                right:0;
                top:0;
                bottom:0;
                background-position: left center;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 0;
                transition: transform @transition-time ease-in-out, opacity @transition-time ease-in-out;
            }

            &:after {
                content:'';
                position:absolute;
                left:-1px;
                top:-1px;
                color:white;
                background-color: #666;
                border: 2px solid #333;
                border-left:none;
                border-top-width: 1px;
                font-family: pokered;
                font-weight: bold;
                font-size:12px;
                padding: .25em;
                border-top-right-radius: 1em;
                border-bottom-right-radius: 1em;
                transform:translateX(-110%);
                transition: transform @transition-time ease-in-out, opacity @transition-time ease-in-out;
            }

            &:not(.fainted){
                &.slp, &.psn, &.brn, &.frz, &.par, &.tox {
                    &:before {
                        transform:none;
                        opacity: .9;
                    }
                    &:after {
                        transform: none;
                    }
                }
            }

            &.slp{
                &:before {
                    background-image:url('./img/status/bg/slp.jpg');
                }
                &:after {
                    content:'SLP';
                    background-color:#8C888C;
                    border-color:#5b585b;
                }
            }
            &.psn {
                &:before {
                    background-image:url('./img/status/bg/psn.jpg');
                }
                &:after {
                    content:'PSN';
                    background-color:#A040A0;
                    border-color:#682A68;
                }
            }
            &.brn {
                &:before {
                    background-image:url('./img/status/bg/brn.jpg');
                }
                &:after {
                    content:'BRN';
                    background-color:#F08030;
                    border-color:#9C531F;
                }
            }
            &.frz {
                &:before {
                    background-image:url('./img/status/bg/frz.jpg');
                }
                &:after {
                    content:'FRZ';
                    background-color:darken(#98D8D8, 30%);
                    border-color:darken(#638D8D, 30%);
                }
            }
            &.par {
                &:before {
                    background-image:url('./img/status/bg/par.jpg');
                }
                &:after {
                    content:'PAR';
                    background-color:darken(#F8D030, 15%);
                    border-color:darken(#A1871F, 15%);
                }
            }
            &.tox {
                &:before {
                    background-image:url('./img/status/bg/tox.jpg');
                }
                &:after {
                    content:'PSN';
                    background-color:#A01010;
                    border-color:#680A0A;
                }
            }

            &.fainted {
                opacity: .5;
                transition: filter @transition-time ease-in, opacity @transition-time ease-out;
                filter:grayscale(100%);
                .health {
                    min-width:0!important;
                    width:0!important;
                }
                .moves li {
                    color:white!important;
                    opacity: 1!important;
                }
            }

            &.health-high {
                .health-info(@high-health);
            }
            &.health-med {
                .health-info(@med-health);
            }
            &.health-low {
                .health-info(@low-health);
            }

            &.egg {
                line-height:@party-member-height;
                font-size: (@party-member-height / 2);

                .egg-bar {
                    .bar('HATCH', (@party-member-height / 10));
                    bottom:0;
                    line-height: normal;

                    .hatch {
                        .bar-fill();
                        background-color: @exp-color;
                    }
                }

            }
        }

    }

    .trainer-info {
        .badges {
            font-size: 10vw;
            width:100%;
            text-align: center;
            span {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                img {
                    vertical-align: middle;
                    transition: filter (@transition-time * 3) ease-in, opacity @transition-time ease-out, transform (@transition-time * 2) ease-out;
                    filter: drop-shadow(1px 1px 0 @bar-chrome) drop-shadow(-1px -1px 0 @bar-chrome) drop-shadow(-1px 1px 0 @bar-chrome) drop-shadow(1px -1px 0 @bar-chrome);
                    width: 12.5vw;
                    transform-origin: center center;
                    image-rendering: pixelated;

                    &.unowned {
                        filter: contrast(0%) brightness(50%);
                    }
                    &.badge-slot {
                        filter:none;
                        opacity: 0;
                        transform: scale(2);
                    }
                }
            }
        }

        .bottom-row {
            display: flex;
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            justify-content: space-between;
            padding-bottom:.1em;

            .wallet {
                margin-right:auto;
                .skinny-screen({
                    display:flex;
                    width:100%;
                });

                span {
                    margin-left: .25em;
                    vertical-align: baseline;

                    .skinny-screen({
                        flex: 1 1 auto;

                        + span {
                            margin-left:auto;
                        }
                    });

                    &:before {
                        font-size: .9em;
                        vertical-align: baseline;
                        margin-right:.1em;
                    }
                }

                .cash:before {
                    content:"$";
                }
                .balls:before {
                    content:"♎";
                }
            }

            .options {
                flex: 1 1 auto;
                display:flex;
                justify-content: space-around;
                text-align: center;
                margin:auto;
                .normal-screen({
                    .crush-text()
                });
                .skinny-screen({
                    position: absolute;
                    left:0;
                    right:0;
                    bottom:100%;
                    height: 1em;
                    span {
                        width:30%;
                    }
                });
                span {
                    flex: 1 1 auto;
                }
            }

            .dex-counts {
                margin-right:auto;
                margin-right:.25em;

                span:not(:last-of-type):after {
                    content:'/';
                }
            }
        }
    }
}

.pokedex {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    border: 2px outset #600;
    background-color: #c00;
    box-shadow: 0 0 4px 4px #600 inset;
    font-size:5vh;
    font-family: pokered;
    color:white;
    text-align: center;
    z-index: 100;

    transition: transform 1s ease-in-out;

    transform:translateY(-100%);
    &.new-entry {
        transform:none;
    }

    &:before, &:after {
        content:attr(data-region);
        position: absolute;
        top:0;
        left:0;
        right:0;
        // font-weight: bold;
        font-size:4vh;
        line-height:5vh;
        text-shadow: 2px 2px 0 #900, -2px 2px 0 #900, 2px -2px 0 #900, -2px -2px 0 #900;
    }
    &:after {
        content:"Pokédex";
        top:auto;
        bottom:0;
    }

    .pokemon-display {
        border: 2px inset #600;
        box-shadow: 0 0 4px 4px #600;
        background-color: darkolivegreen;
        overflow: hidden;
        color:black;

        position:absolute;
        left:5vw;
        right:5vw;
        top:5vh;
        bottom:5vh;

        ul.pokemon-list {
            list-style: none;
            margin:0;
            padding:0;
            transition: transform 5s ease-in-out;

            li {
                margin:0;
                padding:5vh 1vw;
                transform:translateY(50%);
                transform-origin:center center;
                transition:filter .2s ease-in-out;
                position: relative;

                &:before{
                    position: absolute;
                    left:0;
                    top:0;
                    right:0;
                    content:'#.' attr(data-index);
                }
                &.unowned, &.new-entry {
                    filter: contrast(0%) brightness(0%);
                }
                &.new-entry {
                    transition:none;
                    animation: new-entry 2s 1;
                    animation-delay: 5s;
                    animation-fill-mode:forwards;
                    animation-timing-function: linear;
                }

                img {
                    // width:100%;
                    height: 70vw;
                    image-rendering: pixelated;
                }
            }
        }
    }
}

.shimmy-shake {
    .pokemon-image img {
        transform-origin: 50% 70%;
        animation: shimmy-shake 2s infinite;
    }
}

@keyframes shimmy-shake {
    10% {
        transform: rotate(-15deg);
        }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: none;
    }
}

@keyframes new-entry {
    20% {
        filter: contrast(0%) brightness(0%);
        transform: translateY(50%);
    }
    30% {
        filter: brightness(200%)saturate(20%);
        transform: translateY(50%) scale(1.5) rotate(10deg);
    }
    40% {
        filter:none;
        transform: translateY(50%);
    }
    100% {
        filter: drop-shadow(0 0 10vh white);
    }
}